apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: aws-load-balancer-controller
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      chart: aws-load-balancer-controller
      version: 1.13.4
      sourceRef:
        kind: HelmRepository
        name: eks
        namespace: flux-system
  values:
  # https://artifacthub.io/packages/helm/aws/aws-load-balancer-controller
  # https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/helm/aws-load-balancer-controller/values.yaml
  