apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: reloader
spec:
  interval: 5m
  chart:
    spec:
      chart: reloader
      version: 2.2.3
      sourceRef:
        kind: HelmRepository
        name: reloader
        namespace: flux-system
  values:
  # https://artifacthub.io/packages/helm/stakater/reloader
  # https://github.com/stakater/Reloader/blob/master/deployments/kubernetes/chart/reloader/values.yaml
    reloader:
      reloadOnCreate: true
      serviceMonitor:
        enabled: true
